<h1>Edit <%= resource_name.to_s.humanize %></h1>
<%=@notice if @notice%>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><h2>About You</h2>
  <%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %><br /><br />
  <%= f.label :username %><br />
  <%= f.text_field :username %><br /><br />
  <%= f.label :partner %><br />
  <%= f.select :partner_id, User.where("id NOT IN (?)", @user.id).sort_by(&:username).collect {|x| [x.username, x.id]} %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><h2>Change Password</h2>
  <h3>Enter current password.</h3>
  <%= f.label :password %><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><h3>Re-enter current password.</h3>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div><h2>Set Role</h2>
  <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  </div>

  <div><h2>Confirm Changes</h2>
  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
  
  <div><%= f.submit "Update", :class => 'blue_button' %></div>
<% end %>

<h2>Cancel my account</h2>

<p><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'red_button' %></p>

<%= link_to "Back", :back %>
