<%= simple_form_for @homespace do |f| %>
    <%= f.input :title %><br />
    <p>(We suggest something like <%= [current_user.username, "and", current_user.partner.username].join("-").downcase %>)</p>
    <% unless @homespace.user_id %>
        <%= f.association :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <% end %>
    <% unless @homespace.partner_id %>
        <% if current_user.partner %>
            <%= f.association :partner_id, :as => :hidden, :input_html => { :value => current_user.partner.id } %>
        <% end %>
    <% end %>
    <%= f.button :submit, :class => 'blue_button' %>
<% end %>

