<p>
  <strong>Title:</strong>
  <%= @homespace.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @homespace.user.username %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @homespace.partner.username %>
</p>

<p>
  <strong>Posts:</strong>
  <ul>
  <% @homespace.posts.each do |post| %>
    <li><%= link_to post.title, post%></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_homespace_path(@homespace) %> |
<%= link_to 'Back', homespaces_path %>
