<h1>Listing Users</h1>

<table>
  <tr>
    <th>User Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Partner</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= User.find(user.partner_id).username if user.partner_id && User.exists?(user.partner_id) %></td>

    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
    <td><%= link_to 'Destroy', cancel_user_registration_path(user), data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>