<h2><%= @user.email%>'s Dashboard</h2>
<p>I am a <%= @user.role %>
<p>My partner is <%= @user.partner.username %><p>
<% if @user_homespace %>
    <p>My homespace is </p>
    <p><%= link_to @user_homespace.title, @user_homespace %><p>
<% else %>
    <p><%=link_to "New Homespace", new_homespace_path %>
<% end %>

